[package]
name = "bootupd"
version = "0.1.0"
authors = ["Colin Walters <walters@verbum.org>"]
edition = "2018"

[lib]
name = "bootupd"
path = "src/bootupd.rs"

[[bin]]
name = "bootupd"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
bincode = "1.3.1"
chrono = { version = "0.4.11", features = ["serde"] }
clap = "~2.33"
fs2 = "0.4.3"
hex = "0.4.2"
libc = "^0.2"
libsystemd = "^0.2"
nix = "0.17.0"
openat = "0.1.19"
openat-ext = "0.1.0"
openssl = "^0.10"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
structopt = "0.3"
tempfile = "^3.1"

[profile.release]
# We assume we're being delivered via e.g. RPM which supports split debuginfo
debug = true
