#cloud-config
users:
  - default
  - name: {{ ssh_user }}
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('ansible.builtin.file', ssh_key_pub) }}
{% if bib == 'false' and test_os.startswith('rhel') %}
yum_repos:
  rhel-9y-baseos:
    name: rhel-9y-baseos
    baseurl: http://{{ download_node }}/rhel-9/nightly/RHEL-9/latest-RHEL-{{ test_os_dot_version }}.0/compose/BaseOS/$basearch/os/
    enabled: true
    gpgcheck: false
  rhel-9y-appstream:
    name: rhel-9y-appstream
    baseurl: http://{{ download_node }}/rhel-9/nightly/RHEL-9/latest-RHEL-{{ test_os_dot_version }}.0/compose/AppStream/$basearch/os/
    enabled: true
    gpgcheck: false
{% endif %}
power_state:
  delay: now
  mode: poweroff
  message: Cloud Init Finalized - Shutting down machine
  timeout: 30
