[Unit]
Description=bootloader update daemon
Documentation=https://github.com/coreos/bootupd
# Because the daemon currently agressively auto-exits
# and our test suite runs many requests, let's allow
# a lot of restarts before failing.
StartLimitIntervalSec=2s
StartLimitBurst=10

[Service]
Type=notify
Environment=BOOTUPD_VERBOSITY="-v"
ExecStart=/usr/libexec/bootupd daemon $BOOTUPD_VERBOSITY
# This way our working directory isn't writable by default.
WorkingDirectory=/usr
# Various hardening flags just on general principle.  We need
# to run as root, but let's avoid accidental damage.
ProtectHome=yes
ReadOnlyPaths=/usr
PrivateTmp=yes
PrivateNetwork=yes
ProtectClock=yes
ProtectHostname=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
# So we can remount /boot writable
MountFlags=slave
