[Unit]
Description=bootloader update daemon
Documentation=https://github.com/coreos/bootupd

[Service]
Type=notify
ExecStart=/usr/bin/bootupctl daemon
# On general principle
ProtectHome=yes
# So we can remount /boot writable
MountFlags=slave
