[Unit]
Description=Target for bootc status changes on boot
Documentation=man:bootc-status-updated.target(8)
ConditionPathExists=/run/ostree-booted

[Install]
WantedBy=multi-user.target
