#cloud-config
users:
  - default
  - name: {{ ssh_user }}
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('ansible.builtin.file', ssh_key_pub) }}

# install with --cloud-init always shutdown vm on the first reboot
# https://github.com/virt-manager/virt-manager/issues/497
# workaround is shutdown vm in cloud-init when cloud-init finished
# then start vm
power_state:
  delay: now
  mode: poweroff
  message: Cloud Init Finalized - Shutting down machine
  timeout: 30
