#!/bin/bash

virt-install \
    --name {{ instance_name }} \
    --ram 3072 \
    --vcpus 2 \
    --os-variant {{ os_variant[test_os] }} \
    --network network=integration \
    --disk size=10,path="{{ image_path }}/{{ guest_image_fname }}" \
{% if firmware == 'uefi' %}
    --boot {{ boot_args }} \
{% endif %}
    --cdrom "{{ image_path }}/seed.iso" \
    --install no_install=yes \
{% if air_gapped_dir != '' %}
    --filesystem={{ air_gapped_dir }},mount_tag,driver.type=virtiofs,accessmode=passthrough \
    --memorybacking=source.type=memfd,access.mode=shared \
{% endif %}
    --console file,source.path="/tmp/{{ test_os }}-{{ firmware }}-console.log" \
    --noautoconsole \
    --wait
