[Unit]
Description=Run a demo webserver

[Container]
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Image=docker.io/library/caddy:2.8.4
PublishPort=80:80
ReadOnly=true

[Install]
WantedBy=default.target
