[Unit]
Description=Prometheus node exporter

[Container]
Network=host
PodmanArgs=--pid=host --storage-opt=additionalimagestore=/usr/lib/bootc/storage
Volume=/:/host,ro,rslave
Image=quay.io/prometheus/node-exporter:v1.8.2
Exec=--path.rootfs=/host
ReadOnly=true

[Install]
WantedBy=default.target
